header {
	display: flex;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

header .logo {
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: #000;
	padding: 15px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .logo:link,
header .logo:visited {
	color: #fff;
}

header .menu {
	font-size: 1rem;
	text-transform: uppercase;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

header .menu a:link,
header .menu a:visited {
	color: unset;
}

header .menu a {
	color: #000;
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 30px;
	display: flex;
	justify-content: center;
	transition: all 0.2s ease-in-out;
}

header .menu a:hover {
	color: #ff5253;
	font-weight: 700;
}

header .menu-btn {
	color: #ff5253;
	padding: 15px;
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	transform: translateY(0) rotate(0deg);
	transition: all 0.2s ease-in-out;
}

header .menu-btn:hover {
	color: #000;
	transform: translateY(-2px) rotate(3deg);
	cursor: pointer;
}

.mobile-menu {
	display: none;
	background: #fff;
	-webkit-box-shadow: 5px 12px 31px -1px rgba(0, 0, 0, 0.11);
	-moz-box-shadow: 5px 12px 31px -1px rgba(0, 0, 0, 0.11);
	box-shadow: 5px 12px 31px -1px rgba(0, 0, 0, 0.11);
	flex-direction: column;
	padding: 10px 20px 10px 15px;
	height: 45vh;
	width: 50%;
	z-index: 10;
	position: absolute;
	top: 0;
	transform: translate3d(-100%, 0, 0);
	transition: all 0.4s ease-in-out;
}

.mobile-menu.active {
	transform: translate3d(0, 0, 0);
}

.mobile-menu a {
	padding: 15px 20px;
	text-decoration: none;
	color: black;
}

.mobile-menu a:hover {
	text-decoration: none;
	color: #fff;
	background: #ff5253;
}

@media only screen and (max-width: 960px) {
	header .menu a {
		margin: 0 15px;
	}
}

@media only screen and (max-width: 767px) {
	header .logo {
		font-size: 1.2rem;
		padding: 10px 13px;
	}

	header .menu {
		display: none;
	}

	header .menu-btn {
		display: block;
	}

	.mobile-menu {
		display: flex;
	}
}
