@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap");

@import "header.css";
@import "landing/1-landing.css";
@import "landing/2-services.css";
@import "landing/3-portfolio.css";
@import "landing/4-experience.css";
@import "landing/5-blog.css";
@import "landing/6-testimonials.css";
@import "footer.css";

.container {
  max-width: 1120px;
  margin: 0 auto;
}

/* TABLET */
@media only screen and (max-width: 960px){
	.container{
		width: 100%
	}
}

/* PHONE */
@media only screen and (max-width: 767px){
	
}