#portfolio {
  padding: 80px 15px;
}

#portfolio .title {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#portfolio .title .square {
  background-color: #ffeded;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25px;
  z-index: 0;
}

#portfolio .title h1 {
  position: relative;
  color: #16171c;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 1;
}

#portfolio .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;
}

#portfolio .portfolio-container .box {
  background-color: black;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  overflow: hidden;
}

#portfolio .portfolio-container .box:hover {
  -webkit-box-shadow: 0px 42px 39px 12px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 42px 39px 12px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 42px 39px 12px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

#portfolio .portfolio-container .box.image1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

#portfolio .portfolio-container .box.image1 .image {
  background-image: url("../../img/port-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

#portfolio .portfolio-container .box.image2 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

#portfolio .portfolio-container .box.image2 .image {
  background-image: url("../../img/port-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

#portfolio .portfolio-container .box.image3 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#portfolio .portfolio-container .box.image3 .image {
  background-image: url("../../img/port-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

#portfolio .portfolio-container .box.image4 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#portfolio .portfolio-container .box.image4 .image {
  background-image: url("../../img/port-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

#portfolio .portfolio-container .box.image5 {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

#portfolio .portfolio-container .box.image5 .image {
  background-image: url("../../img/port-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

#portfolio .portfolio-container .box.image6 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#portfolio .portfolio-container .box.image6 .image {
  background-image: url("../../img/port-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

#portfolio .portfolio-container .box.image7 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

#portfolio .portfolio-container .box.image7 .image {
  background-image: url("../../img/port-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

#portfolio .portfolio-container .box .hover-bg {
  background: rgba(255, 53, 53, 0.8);
  transition: all 0.3s ease-in-out;
}

#portfolio .portfolio-container .box:hover .hover-bg {
  width: 100%;
  height: 100%;
  background: rgba(255, 53, 53, 0.8);
}

#portfolio .portfolio-container .box .hover-bg .image-title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#portfolio .portfolio-container .box .hover-bg .image-title-box .text {
  background: black;
  border-radius: 5px;
  padding: 10px 20px;
  transform: translate3d(0, 400px, 0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#portfolio .portfolio-container .box .hover-bg:hover .image-title-box .text {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

@media only screen and (max-width: 960px) {
  #portfolio {
    padding: 60px 15px 15px;
  }

  #portfolio .portfolio-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 150px);
    grid-gap: 10px;
  }

  #portfolio .portfolio-container .box.image1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image2 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  #portfolio .portfolio-container .box.image3 {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image4 {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
  }

  #portfolio .portfolio-container .box.image5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image6 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
  }

  #portfolio .portfolio-container .box.image7 {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
  }
}

@media only screen and (max-width: 767px) {
  #portfolio {
    padding: 60px 15px 15px;
  }

  #portfolio .portfolio-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 120px);
    grid-gap: 10px;
  }

  #portfolio .portfolio-container .box.image1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image4 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image6 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }

  #portfolio .portfolio-container .box.image7 {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
  }
}
